@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        font-family:Georgia, 'Times New Roman', Times, serif;
        overflow-x: hidden; 
    }
}

@layer components {
    .bg-black {
        transition-timing-function: ease-out;
        transition: all 1.5s;
    }
}

@layer components {
    .home{
        background-image: url('./assets/thirdBackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@layer components {
    .icon {
        background-color: white;
    }
}

@layer components {
    .about-icon{
        background-image: url('./assets/wall.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}

@layer components {
    .about-heading, .about-text, .events-heading {
      font-family: Raleway ;
    }
}

@layer components {
    .events-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
    }
}

@layer components {
    .event-back{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}